/* Page */

:root { /* Variables */
	--light-color: #f0d9b5;
	--dark-color: #c4946e;
	--cell-size: 50px;
	--board-size: calc(var(--cell-size) * 8);
}

body {
	max-width: 900px;
	box-sizing: border-box;
	font-family: Trebuchet MS, Vedana, Arial, sans-serif;
}

/* Chess board */

table {
	border-collapse: collapse;
	user-select: none;
	transition: 0.5s;
}

td {
	background: var(--light-color);
	width: var(--cell-size);
	height: var(--cell-size);
	text-align: center;
	cursor: pointer;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: var(--dark-color);
}

table.rotate, table.rotate td {
	transform: rotate(180deg);
}

/* Pieces */

img {
	image-rendering: pixelated; /* chrome, edge */
	image-rendering: crisp-edges; /* firefox */
	object-fit: cover;
	width: 32px;
	height: 32px;
}

td img {
	position: absolute;
	margin-left: -16px;
	margin-top: -16px;
}

img.white.pawn {object-position: calc(0*-32px) center;}
img.white.rook {object-position: calc(1*-32px) center;}
img.white.knight {object-position: calc(2*-32px) center;}
img.white.bishop {object-position: calc(3*-32px) center;}
img.white.queen {object-position: calc(4*-32px) center;}
img.white.king {object-position: calc(5*-32px) center;}

img.black.pawn {object-position: calc(6*-32px) center;}
img.black.rook {object-position: calc(7*-32px) center;}
img.black.knight {object-position: calc(8*-32px) center;}
img.black.bishop {object-position: calc(9*-32px) center;}
img.black.queen {object-position: calc(10*-32px) center;}
img.black.king {object-position: calc(11*-32px) center;}

.last-move {background: rgb(219, 226, 122) !important;}
.valid {background: rgb(105, 194, 132) !important;}
.check {background: rgb(231, 70, 70) !important;}
.selected {background: rgb(124, 192, 214) !important;}

/* Footer */

button {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 2px 3px;
	border: 1px solid #0004;
	vertical-align: middle;
	text-align: center;
	border-radius: 2px;
	font-size: 16px;
}

button.enabled {background: rgb(48, 170, 48);}
button.enabled::after {content: 'Yes';}
button.disabled {background: rgb(168, 62, 80);}
button.disabled::after {content: 'No';}

.label {
	display: inline-block;
	width: 140px;
}

#log {
	margin: 1em auto;
	width: 150px;
	overflow-wrap: break-word;
	text-align: center;
}

#log .move {
	padding: 1px 2px;
}

#foot {
	margin: 1em auto;
}

#icon-options,
#labelled-options {
	text-align: center;
}

#labelled-options button {
	width: 60px;
	height: 2em;
}

#points {
	padding: 1em;
	min-height: 1.2em;
	text-align: center;
}

#taken-white-pieces {
	display: flex;
	text-align: left;
}

#taken-black-pieces{
	display: flex;
	text-align: right;
}

#black-points,
#white-points {
    vertical-align: middle;
    line-height: 36px;
    font-size: large;
}

/* Responsive */

@media (min-width: 601px) {

	body {
		margin: 50px auto;
    	display: grid;
    	grid-template-areas: "icons table log" "white options black";
		grid-template-columns: 1fr var(--board-size) 1fr;
		grid-template-rows: calc(var(--board-size) + 20px);
	}

	table {
		grid-area: table;
	}

	button {
		margin-bottom: 6px;
	}

	#icon-options {
		grid-area: icons;
	}

	#taken-white-pieces {
		grid-area: white;
	}

	#taken-black-pieces {
		text-align: right;
		grid-area: black;
	}

	#foot {
		grid-area: options;
	}

	#log {
		overflow: auto;
		grid-area: log;
	}

}

@media (max-width: 600px) {

	#icon-options {
		margin-top: 1em;
	}

	#icon-options div {
		display: inline-block;
	}

	#icon-options br {
		display: none;
	}

}

/* Visibility */

.hide {display: none;}
