<header>
	<h1>
		<a href="/menu/" title="Return to menu">
			<img src="/images/logo.svg" height="65px" id="logo" alt="CarbonChess">
		</a>
	</h1>
	<div id="account">
		<details>
			<summary>
				<span id="account-username"></span>
				<span id="account-elo"></span>
			</summary>
			<div data-netlify-identity-menu></div>
		</details>
	</div>
</header>
