@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body {
	--background: url('/assets/backgrounds/variety.svg');
	background-color: var(--bg-colour);
	background-image: var(--background);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #eee;
	font-family: 'Century Gothic', 'Trebuchet MS', Vedana, Arial, sans-serif;
}

footer {
	padding: 1em;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
@media (min-width: 600px) { 
	footer {
		right: 0;
		bottom: 0;
		position: absolute;
	}
}

footer a {
	text-decoration: underline;
}

.hide {
	display: none !important;
}
