@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Fira Sans', 'Trebuchet MS', Vedana, Arial, sans-serif;
	background: var(--bg-colour);
	color: #eee;
}

.hide {
	display: none !important;
}
