/* General */

:root {
	--bg-colour: #191919;
	--cell-colour: #232323;
	--accent-colour: #4285f4;
}

body {
	margin: 0;
	height: 100vh;
	font-family: 'Century Gothic', sans-serif;
}

main {
	min-height: 100%;
	padding-bottom: 11em;
	display: flex;
	flex-direction: column;
	place-content: center;
	text-align: center;
}
@media (max-width: 600px) {
	main {
		background: none;
	}
	main::before {
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		background: var(--background);
		transform: rotate(90deg);
		z-index: -1;
	}
}

h2 {
	margin: 2em 0 1em;
	font-size: 2em;
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}

/* Cards */

.cards {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
}

.card {
	display: grid;
	place-items: center;
	place-content: center;
	border-radius: 12px;
	background: var(--cell-colour);
	transition: 50ms;
}

.card:hover,
.card.selected {
	border: 2.5px solid var(--accent-colour);
	transform: scale(1.05);
}
.card.big.selected {
	border-width: 3.5px;
}

.card.selected::before {
	content: '';
	margin-left: 138px;
	margin-bottom: 40px;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	border-radius: 50%;
	background: var(--accent-colour);
	background-image: url('/assets/icons/selected.svg');
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 4px 6px;
}

.card.big {
	margin: 1em;
	height: 250px;
	width: 250px;
}
@media (min-width: 600px) {
	.card.big {
		height: 325px;
		width: 325px;
	}
}

.card.small {
	margin: 1em;
	height: 170px;
	width: 170px;
	padding-bottom: 45px;
	font-size: 1.5em;
}

.card.wide {
	margin: 1em;
	width: 170px;
	height: 70px;
}

.card.play,
.card#back {
	position: absolute;
	border-radius: 3em;
	text-transform: uppercase;
    font-weight: bold;
}
@media (min-width: 600px) {
	.card.play,
	.card#back {
		bottom: 7em;
	}
}
.card.play:hover,
.card#back:hover {
	transform: none;
	background: var(--accent-colour);
}
.card.play::after,
.card#back::before {
	content: '';
	height: 1em;
	width: 1em;
	position: absolute;
	background: url('/assets/icons/arrow.svg');
	background-repeat: no-repeat;
}

.card.play {
	padding-right: 2em;
	background: var(--accent-colour);
}
@media (min-width: 600px) {
	.card.play {
		right: 5em;
	}
}
.card.play::after {
	margin-left: 3em;
	margin-top: 0.5em;
}

.card#back {
	padding-left: 2em;
}
@media (min-width: 600px) {
	.card#back {
		left: 5em;
	}
}
.card#back::before {
	margin-right: 3em;
	margin-bottom: 0.2em;
	transform: rotate(180deg);
}

.card-image {
	margin: 1em;
	height: 7em;
}
.card.small .card-image {
	height: 2em;
}

.card-heading {
	width: 200px;
	font-size: 1.5em;
	font-weight: bold;
}
.card.small .card-heading {
	font-size: 0.7em;
}
.card.wide .card-heading {
	font-size: 1.15em;
}

.card.big .card-heading::before {
	content: ' ';
	height: 1px;
	width: 55px;
	background: #c8c8c8;
	display: block;
	margin-left: 72px;
	margin-bottom: 1em;
}
.card.small .card-heading::before {
	width: 35px;
	margin-left: 82px;
}

.card:hover .card-heading::before {
	background: var(--accent-colour);
	height: 3px;
}

.card-description {
	width: 150px;
	font-family:'Source Sans Pro', sans-serif;
	color: rgb(200,200,200);
	padding-top: 0.5em;
	display: block;
	line-height: 1.15em
}

[data-value="true"]::after {content: 'Enabled';}
[data-value="false"]::after {content: 'Disabled';}

/* Sections */

#logo, #donate {margin: 3em;}
@media (min-width: 600px) {
	#logo, #donate {
		position: absolute;
		top: 0;
	}
	#logo {left: 0;}
	#donate {right: 0;}
}

#play-online {
	font-size: 1.2em;
}

#game-code {
	width: 7em;
	height: 3em;
	padding: 0.5em;
}

#bot-intelligence-dots {
	--spacing: 72px;
	margin-left: var(--spacing);
	letter-spacing: var(--spacing);
	font-size: 38px;
	user-select: none;
}

#dot-highlighted {
	display: inline-block;
	margin-left: 7px;
	margin-right: -7px;
	color: var(--accent-colour);
	transform: scale(1.2);
}

/* Toggles */

.toggle {
	margin-top: 2em;
	display: block;
}

.toggle strong {
	width: 100px;
	margin-left: -50px;
	display: inline-block;
}

.toggle.disabled strong {
	color: gray;
}

.slider {
	width: 3.5em;
	height: 1.5em;
	margin-left: -20px;
	position: absolute;
	cursor: pointer;
	background: #ccc;
	border-radius: 1em;
	transition: 0.2s;
}

.slider:before {
	content: '';
	height: 30px;
	width: 30px;
	left: 1px;
	top: -3px;
	position: absolute;
	background: #fff;
	border-radius: 50%;
	transition: 0.2s;
}

input:checked + .slider {
  background: var(--accent-colour);
}
input:checked + .slider:before {
  transform: translateX(26px);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-colour);
}

input:disabled + .slider {
	background: gray;
}
input:disabled + .slider::before {
	background: #a9a9a9;
}

/* Bot slider */

input[type="range"]::-moz-range-progress {
	background-color: var(--accent-colour);
	height: 100%;
	border-radius: 30px;
	border: none;
}

input[type="range"]::-moz-range-thumb {
	width: 18px;
	height: 18px;
	background: #fff;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 9px;
  height: 9px;
  background: var(--accent-colour);
  cursor: pointer;
  border-radius: 30px;
}

input[type="range"] {
	width: 550px;
	height: 8px;
	border-radius: 30px;
}