:root {
	--bg-colour: #191919;
	--cell-colour: #232323;
}

body {
	margin: 0;
	height: 100vh;
	font-family: 'Century Gothic', sans-serif;
}

main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	place-content: center;
	background-image: url('/assets/background.svg');
    background-size: 90%; 
	text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}

#logo, #donate {margin: 3em;}
@media (min-width: 600px) {
	#logo, #donate {
		position: absolute;
		top: 0;
	}
	#logo {left: 0;}
	#donate {right: 0;}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
}

.card {
	margin: 1em;
	height: 250px;
	width: 250px;
  display: grid;
	place-items: center;
	align-content: center;
	border-radius: 12px;
	background: var(--cell-colour);
}

@media (min-width: 600px) { .card {
	height: 325px;
	width: 325px;
}}

.card:not(.styled) {
	display: grid;
	place-content: center;
	border: 5px solid var(--border-colour);
	border-radius: 0.5em;
}
@media (min-width: 600px) { .card:not(.styled) {
	font-size: 3em;
}}

.card.small {
	height: 100px;
	width: 100px;
	font-size: 1.5em;
}

.card.play {
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 200px;
}

.card-image {
	margin: 1em;
	height: 7em;
}

.card-heading {
	width: 200px;
	font-size: 1.5em;
	font-weight: bold;
}

.card-heading::before {
	content: ' ';
	height: 1px;
	width: 55px;
	background: #c8c8c8;
	display: block;
	margin-left: 72px;
	margin-bottom: 1em;
}

.card-description {
	width: 200px;
    font-family:'Source Sans Pro', sans-serif;
    color: rgb(200,200,200);
    padding-top: 0.5em;
    display: block;
    line-height: 1.15em
}

.selected {
	background: #555;
}

[data-rules="true"]::after {content: '(Yes)';}
[data-rules="false"]::after {content: '(No)';}

#play-online {
	font-size: 1.2em;
}

#game-code {
	width: 7em;
	height: 3em;
	padding: 0.5em;
}
