/* General */

:root {
	--bg-colour: #191919;
	--cell-colour: #232323;
	--accent-colour: #4285f4;
}

body {
	margin: 0;
	height: 100vh;
	font-family: 'Century Gothic', sans-serif;
}

main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	place-content: center;
	--background: url('/assets/backgrounds/variety.svg');
	background-image: var(--background);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
@media (max-width: 600px) {
	main {
		background: none;
	}
	main::before {
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		background: var(--background);
		transform: rotate(90deg);
		z-index: -1;
	}
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}

#logo, #donate {margin: 3em;}
@media (min-width: 600px) {
	#logo, #donate {
		position: absolute;
		top: 0;
	}
	#logo {left: 0;}
	#donate {right: 0;}
}

/* Cards */

.cards {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
}

.card {
	display: grid;
	place-items: center;
	place-content: center;
	border-radius: 12px;
	background: var(--cell-colour);
	transition: 50ms;
}

.card:hover,
.card.selected {
	border: 2.5px solid var(--accent-colour);
	transform: scale(1.1);
}
.card.big.selected {
	border-width: 3.5px;
}

.card.selected::before {
	content: '';
	margin-left: 165px;
	margin-bottom: 60px;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	border-radius: 50%;
	background: var(--accent-colour);
	background-image: url('/assets/icons/selected.svg');
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.card.big {
	margin: 2em;
	height: 250px;
	width: 250px;
}
@media (min-width: 600px) {
	.card.big {
		height: 325px;
		width: 325px;
	}
}

.card.small {
	margin: 1em;
	height: 170px;
	width: 170px;
	padding-bottom: 45px;
	font-size: 1.5em;
}

.card.wide {
	margin: 1em;
	width: 170px;
	height: 70px;
}

.card.play {
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 200px;
}

.card-image {
	margin: 1em;
	height: 7em;
}
.card.small .card-image {
	height: 2em;
}

.card-heading {
	width: 200px;
	font-size: 1.5em;
	font-weight: bold;
}
.card.small .card-heading {
	font-size: 0.7em;
}
.card.wide .card-heading {
	font-size: 1.15em;
}

.card.big .card-heading::before {
	content: ' ';
	height: 1px;
	width: 55px;
	background: #c8c8c8;
	display: block;
	margin-left: 72px;
	margin-bottom: 1em;
}
.card.small .card-heading::before {
	width: 35px;
	margin-left: 82px;
}

.card-description {
	width: 200px;
	font-family:'Source Sans Pro', sans-serif;
	color: rgb(200,200,200);
	padding-top: 0.5em;
	display: block;
	line-height: 1.15em
}

[data-rules="true"]::after {content: '(Yes)';}
[data-rules="false"]::after {content: '(No)';}

#play-online {
	font-size: 1.2em;
}

#game-code {
	width: 7em;
	height: 3em;
	padding: 0.5em;
}

#bot-intelligence-dots {
	--spacing: 72px;
	margin-left: var(--spacing);
	letter-spacing: var(--spacing);
	font-size: 38px;
	user-select: none;
}

/* Bot slider */

input[type="range"]::-moz-range-progress {
	background-color: var(--accent-colour);
	height: 100%;
	border-radius: 30px;
	border: none;
}

input[type="range"]::-moz-range-thumb {
	width: 18px;
	height: 18px;
	background: #fff;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 9px;
  height: 9px;
  background: var(--accent-colour);
  cursor: pointer;
  border-radius: 30px;
}

input[type="range"] {
	width: 550px;
	height: 8px;
	border-radius: 30px;
}