/* Page */


:root { /* Variables */
	--light-color: #dcdcdc;
	--dark-color: #afafaf;
	--cell-size: 60px;
	--board-size: calc(var(--cell-size) * 8);
}

body {
	max-width: 900px;
}

h1 {
	text-align: center;
}

h1 a {
	color: inherit;
}

/* Chess board */

table {
	margin-bottom: 1em;
	border-collapse: collapse;
	user-select: none;
	transition: 0.2s;
	color: #000;
}

td {
	background: var(--light-color);
	width: var(--cell-size);
	height: var(--cell-size);
	text-align: center;
	cursor: pointer;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: var(--dark-color);
}

table.rotate, table.rotate td {
	transform: rotate(180deg);
}

/* Pieces */

:not(button) > img {
	margin-top: 32px;
	margin-left: 32px;
	width: 16px;
	height: 32px;
	object-fit: cover;
	transform: scale(3);
}

table img {
	position: absolute;
	margin-left: -8px;
	width: 16px;
}

img.white {clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);}
img.black {clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);}

img.king   {object-position: calc(0*-16px) center;}
img.queen  {object-position: calc(1*-16px) center;}
img.bishop {object-position: calc(2*-16px) center;}
img.knight {object-position: calc(3*-16px) center;}
img.rook   {object-position: calc(4*-16px) center;}
img.pawn   {object-position: calc(5*-16px) center;}

table img.white {margin-top: 6px;}
table img.black {margin-top: -43px;}

.last-move {background: rgb(228, 230, 129) !important;}
.valid {background: rgb(155, 207, 144) !important;}
.check {background: rgb(231, 70, 70) !important;}
.selected {background: rgb(124, 192, 214) !important;}

/* Header */
#winner {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
}

/* Footer */

button,
select {
	display: inline-block;
	width: max-content;
	height: 2em;
	padding: 4px 8px;
	background: #4e5f79;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	color: white;
	border: none;
	font-family: 'fira sans';
}

button:hover {
	background: #4481dd;
}

button.enabled {background: rgb(48, 170, 48);}
button.enabled::after {content: 'On'; color: white;}
button.disabled {background: rgb(168, 62, 80);}
button.disabled::after {content: 'Off'; color: white;}

button img {
	filter: invert(1);
}

select {
	width: 90px;
}

select {
	padding: 2px 4px;
	font-size: 90%;
}

.label {
	display: inline-block;
	width: 140px;
}

#icon-options,
#foot {
	margin-top: 0.5em auto;
	text-align: center;
}

#icon-options button {
	width: 50px;
	height: 50px;
	padding: 2px 4px;
}

#foot strong {
	display: block;
	margin: 1em 0 0.5em;
	font-size: 1.1em;
}

button.enabled,
button.disabled {
	width: 60px;
}

#points {
	padding: 1em;
	min-height: 1.2em;
	text-align: center;
}

#black-points,
#white-points {
  vertical-align: super;
  font-size: large;
}

#taken-black-pieces,
#taken-white-pieces {
	min-height: 32px;
}

#log {
	margin: 0 auto;
	width: 150px;
	border: 2px solid #111;
	overflow-wrap: break-word;
	text-align: center;
	background-color: #dcdcdc;
	color: black;
}

#log .move {
	padding: 1px 2px;
}

/* Responsive */

@media (min-width: 600px) {

	body {
		margin: 50px auto;
    display: grid;
		grid-gap: 6px;
    grid-template-areas: ". title ." ". winner ." ". black ." "icons table log" ". white ." ". options .";
		grid-template-columns: 1fr var(--board-size) 1fr;
		grid-template-rows: repeat(2, min-content) inherit calc(var(--board-size) + 20px) inherit 100px;
	}

	h1 {
		grid-area: title;
	}

	table {
		grid-area: table;
	}

	button,
	select {
		margin-bottom: 6px;
	}

	#winner {
		grid-area: winner;
	}

	#icon-options {
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-area: icons;
	}

	#taken-white-pieces {
		grid-area: white;
	}

	#taken-black-pieces {
		grid-area: black;
	}

	#foot {
		grid-area: options;
	}

	#log {
		overflow: auto;
		grid-area: log;
	}

}

/* Visibility */

.hide {display: none;}
