/* Page */

:root { /* Variables */
	--light-color: #dcdcdc;
	--dark-color: #afafaf;
	--bg-colour: #191919;
	--cell-size: 80px;
	--board-size: calc(var(--cell-size) * 8);
}

body {
	max-width: 900px;
}

h1 {
	text-align: center;
}

h1 a {
	color: inherit;
}

dt {
	font-weight: bold;
}

dd {
	text-align: right;
}

/* Chess board */

table {
	height: var(--board-size);
	border-collapse: collapse;
	user-select: none;
	color: #000;
}

td {
	background: var(--light-color);
	width: var(--cell-size);
	height: var(--cell-size);
	text-align: center;
	cursor: pointer;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: var(--dark-color);
}

.rotate table, .rotate td {
	transform: rotate(180deg);
}

/* Chess board labels */
tr td::after,
tr td::before {
	position: absolute;
	font-weight: bold;
}
/* Columns */
tr td::after {
	margin-top: calc(var(--cell-size) / 2);
	padding-top: 6px;
}
.norotate tr:last-child td:nth-child(1)::after {content: 'a';}
.norotate tr:last-child td:nth-child(2)::after {content: 'b';}
.norotate tr:last-child td:nth-child(3)::after {content: 'c';}
.norotate tr:last-child td:nth-child(4)::after {content: 'd';}
.norotate tr:last-child td:nth-child(5)::after {content: 'e';}
.norotate tr:last-child td:nth-child(6)::after {content: 'f';}
.norotate tr:last-child td:nth-child(7)::after {content: 'g';}
.norotate tr:last-child td:nth-child(8)::after {content: 'h';}
.rotate tr:first-child td:nth-child(8)::after {content: 'a';}
.rotate tr:first-child td:nth-child(7)::after {content: 'b';}
.rotate tr:first-child td:nth-child(6)::after {content: 'c';}
.rotate tr:first-child td:nth-child(5)::after {content: 'd';}
.rotate tr:first-child td:nth-child(4)::after {content: 'e';}
.rotate tr:first-child td:nth-child(3)::after {content: 'f';}
.rotate tr:first-child td:nth-child(2)::after {content: 'g';}
.rotate tr:first-child td:nth-child(1)::after {content: 'h';}
/* Rows */
tr td::before {
	margin-top: -12px;
	margin-left: -12px;
}
.norotate tr:nth-child(1) td:first-child::before {content: '8';}
.norotate tr:nth-child(2) td:first-child::before {content: '7';}
.norotate tr:nth-child(3) td:first-child::before {content: '6';}
.norotate tr:nth-child(4) td:first-child::before {content: '5';}
.norotate tr:nth-child(5) td:first-child::before {content: '4';}
.norotate tr:nth-child(6) td:first-child::before {content: '3';}
.norotate tr:nth-child(7) td:first-child::before {content: '2';}
.norotate tr:nth-child(8) td:first-child::before {content: '1';}
.rotate tr:nth-child(8) td:last-child::before {content: '8';}
.rotate tr:nth-child(7) td:last-child::before {content: '7';}
.rotate tr:nth-child(6) td:last-child::before {content: '6';}
.rotate tr:nth-child(5) td:last-child::before {content: '5';}
.rotate tr:nth-child(4) td:last-child::before {content: '4';}
.rotate tr:nth-child(3) td:last-child::before {content: '3';}
.rotate tr:nth-child(2) td:last-child::before {content: '2';}
.rotate tr:nth-child(1) td:last-child::before {content: '1';}

/* Pieces */

[data-piece] {
	width: var(--piece-size);
	height: var(--piece-size);
	margin-left: 5px;
	background-image: url('/images/chesspieces.svg');
	image-rendering: crisp-edges;
	transform: scale(1.6);
	--piece-size: 48px;
	--piece-sep: -45px;
}
[data-piece="blank"] {
	background: none;
}

[data-piece].black {background-position-y: var(--piece-size);}
[data-piece].white {background-position-y: 0px;}

[data-piece].king   {background-position-x: calc(0*var(--piece-sep));}
[data-piece].queen  {background-position-x: calc(1*var(--piece-sep));}
[data-piece].bishop {background-position-x: calc(2*var(--piece-sep));}
[data-piece].knight {background-position-x: calc(3*var(--piece-sep));}
[data-piece].rook   {background-position-x: calc(4*var(--piece-sep));}
[data-piece].pawn   {background-position-x: calc(5*var(--piece-sep));}

.taken-pieces [data-piece] {
	margin: -8px;
	transform: scale(0.75);
	filter: contrast(0);
	user-select: none;
}

.last-move {background-color: rgb(228, 230, 129) !important;}
.valid {background-color: rgb(155, 207, 144) !important;}
.check {background-color: rgb(231, 70, 70) !important;}
.selected {background-color: rgb(124, 192, 214) !important;}

/* Options */

button,
select {
	display: inline-block;
	width: max-content;
	height: 2em;
	padding: 4px 8px;
	background: #4e5f79;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	color: white;
	border: none;
	font-family: 'Century Gothic';
	cursor: pointer;
}

button:hover {
	background: #4481dd;
}

button.enabled {background: rgb(48, 170, 48);}
button.enabled::after {content: 'On'; color: white;}
button.disabled {background: rgb(168, 62, 80);}
button.disabled::after {content: 'Off'; color: white;}

button img {
	filter: invert(1);
}

select {
	width: 90px;
}

select {
	padding: 2px 4px;
	font-size: 90%;
}

.label {
	display: inline-block;
	width: 140px;
}

/* Sections */

#game-content {
	margin-bottom: 1em;
}

#winner {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
}

#icon-options,
#foot {
	margin: 0.5em auto;
	text-align: center;
}

#icon-options button {
	width: 50px;
	height: 50px;
	padding: 2px 4px;
}

button.enabled,
button.disabled {
	width: 60px;
}

#points {
	padding: 1em;
	min-height: 1.2em;
	text-align: center;
}

#promotion {
	text-align: center;
	letter-spacing: 20px;
}

#black-points,
#white-points {
  vertical-align: super;
  font-size: large;
}

#taken-black-pieces,
#taken-white-pieces {
	padding: 5px 0;
	min-height: 32px;
	height: max-content;
}

#sidebar {
	width: 150px;
	border: 2px solid #111;
	background-color: #dcdcdc;
	color: black;
}
#sidebar strong {
	margin-bottom: 0.5em;
	display: block;
	font-size: 120%;
	text-align: center;
	text-decoration: underline;
}

#log {
	overflow-wrap: break-word;
	text-align: center;
}

#log .move {
	padding: 1px 2px;
}

#game-data {
	padding: 1em 1em 0;
	height: min-content;
}

/* Responsive */

@media (min-width: 801px) {

	body {
		margin: 0 auto;
		padding: 50px 0 0;
		display: flex;
		flex-direction: column;
	}

	table {
		grid-area: table;
	}

	button,
	select {
		margin-bottom: 6px;
	}

	#game-content {
		display: grid;
		grid-template-areas: ". white ." "icons table sidebar" ". black ." ". promotion .";
		grid-template-columns: 1fr var(--board-size) 1fr;
		grid-template-rows: 48px auto 48px;
	}

	.rotate #game-content {
		grid-template-areas: ". black ." "icons table sidebar" ". white .";
	}

	#taken-black-pieces {
		grid-area: black;
	}

	#taken-white-pieces {
		grid-area: white;
	}

	#promotion {
		grid-area: promotion;
	}

	#icon-options {
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-area: icons;
	}

	#sidebar {
		overflow: auto;
		grid-area: sidebar;
	}

}

@media (max-width: 800px) {

	:root {
		--cell-size: -50px;
	}

	table {
		margin: auto;
	}

	[data-piece] {
		transform: none;
	}

	#log {
		width: 80%;
		height: 100px;
		padding: 0;
	}

	#log br {
		display: none;
	}

}

/* Visibility */

.hide {display: none;}
