/* Page */

:root { /* Variables */
	--light-color: #f0d9b5;
	--dark-color: #c4946e;
	--cell-size: 50px;
	--board-size: calc(var(--cell-size) * 8);
}

body {
	max-width: 900px;
}

h1 {
	text-align: center;
}

h1 a {
	color: inherit;
}

/* Chess board */

table {
	margin-bottom: 1em;
	border-collapse: collapse;
	user-select: none;
	transition: 0.4s;
	color: #000;
}

td {
	background: var(--light-color);
	width: var(--cell-size);
	height: var(--cell-size);
	text-align: center;
	cursor: pointer;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: var(--dark-color);
}

table.rotate, table.rotate td {
	transform: rotate(180deg);
}

/* Pieces */

img:not(.hd) {
	width: 32px;
	height: 32px;
	object-fit: cover;
	user-select: none;
	image-rendering: pixelated; /* chrome, edge */
	image-rendering: crisp-edges; /* firefox */
}

td img {
	position: absolute;
	margin-left: -16px;
	margin-top: -16px;
}

img.white.pawn {object-position: calc(0*-32px) center;}
img.white.rook {object-position: calc(1*-32px) center;}
img.white.knight {object-position: calc(2*-32px) center;}
img.white.bishop {object-position: calc(3*-32px) center;}
img.white.queen {object-position: calc(4*-32px) center;}
img.white.king {object-position: calc(5*-32px) center;}

img.black.pawn {object-position: calc(6*-32px) center;}
img.black.rook {object-position: calc(7*-32px) center;}
img.black.knight {object-position: calc(8*-32px) center;}
img.black.bishop {object-position: calc(9*-32px) center;}
img.black.queen {object-position: calc(10*-32px) center;}
img.black.king {object-position: calc(11*-32px) center;}

.last-move {background: rgb(228, 230, 129) !important;}
.valid {background: rgb(155, 207, 144) !important;}
.check {background: rgb(231, 70, 70) !important;}
.selected {background: rgb(124, 192, 214) !important;}

/* Header */
#winner {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
}

/* Footer */

button,
select {
	display: inline-block;
	width: max-content;
	height: 2em;
	padding: 4px 8px;
	border: 1px solid #0004;
	vertical-align: middle;
	text-align: center;
	border-radius: 2px;
	font-size: 16px;
}

button.enabled {background: rgb(48, 170, 48);}
button.enabled::after {content: 'On'; color: white;}
button.disabled {background: rgb(168, 62, 80);}
button.disabled::after {content: 'Off'; color: white;}

select {
	width: 90px;
}

select {
	padding: 2px 4px;
	font-size: 90%;
}

.label {
	display: inline-block;
	width: 140px;
}

#icon-options,
#foot {
	margin-top: 0.5em auto;
	text-align: center;
}

#icon-options button {
	width: 50px;
	height: 50px;
	padding: 2px 4px;
}

#foot strong {
	display: block;
	margin: 1em 0 0.5em;
	font-size: 1.1em;
}

button.enabled,
button.disabled {
	width: 60px;
}

#points {
	padding: 1em;
	min-height: 1.2em;
	text-align: center;
}

#black-points,
#white-points {
  vertical-align: super;
  font-size: large;
}

#log {
	margin: 0 auto;
	width: 150px;
	border: 2px solid #111;
	overflow-wrap: break-word;
	text-align: center;
}

#log .move {
	padding: 1px 2px;
}

/* Responsive */

@media (min-width: 600px) {

	body {
		margin: 50px auto;
    display: grid;
		grid-gap: 6px;
    grid-template-areas: ". title ." ". winner ." ". black ." "icons table log" ". white ." ". options .";
		grid-template-columns: 1fr var(--board-size) 1fr;
		grid-template-rows: repeat(2, min-content) 32px calc(var(--board-size) + 20px) 32px 100px;
	}

	h1 {
		grid-area: title;
	}

	table {
		grid-area: table;
	}

	button,
	select {
		margin-bottom: 6px;
	}

	#winner {
		grid-area: winner;
	}

	#icon-options {
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-area: icons;
	}

	#taken-white-pieces {
		grid-area: white;
	}

	#taken-black-pieces {
		grid-area: black;
	}

	#foot {
		grid-area: options;
	}

	#log {
		overflow: auto;
		grid-area: log;
	}

}

/* Visibility */

.hide {display: none;}
